<link rel="stylesheet" type="text/css" href="css/chatroom.css">

<div class="wrapper">
    <div class="blank"></div>
    <div id="message-flow">
    </div>
    <div id="users-box">
        <p style="font-size:1.15em">/root/users/online</p>
        <div id="online-users"></div>
    </div>
    <div id="chat-form">
        <textarea id="chat-input" spellcheck="false" autofocus></textarea>
    </div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/chatroom.js"></script>